asgiref==3.4.1
celery==5.1.2
Django==3.2.7
django-celery-beat==2.2.0
django-celery-results==2.1.0
django-cors-headers==3.7.0
django-ninja==0.14.0
djangorestframework==3.12.4
kombu==5.1.0
Pillow==8.4.0
psycopg2==2.9.1
pymongo==4.1.1
redis==3.5.3
